/* font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Peralta', cursive;
font-family: 'Cherry Cream Soda', cursive;
font-family: 'Fontdiner Swanky', cursive; */

body {
  background-color: #ffecb3;
}

.line {
  border-top: 1rem solid #ff66b3;
  border-bottom: .25rem solid black;
  padding: 0;
}

.burger-container {
  margin: auto;
  width: 90%;
}

.new-container {
  margin: auto;
  width: 80%;
}

.sign-img {
  width: 100%;
}

.make-burger {
  font-family: 'Stint Ultra Expanded', cursive;
  margin-top: 25%;
}

.add-burger {
  font-family: 'Stint Ultra Expanded', cursive;
}

#add-burger-btn {
  background-color: #ff66b3;
  border-radius: 12px;
  margin-top: .5rem;
  padding: .5rem;
  color: white;
}

.card {
  margin-top: 3rem;
  border-radius: 8px;
}

.menu-card {
  background-color: #e6e600;
}

.eaten-card {
  background-color: #ffa31a;
}

h4 {
  font-family: 'Cherry Cream Soda', cursive;
}

.burger-list {
  font-family: 'Stint Ultra Expanded', cursive;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1rem;
}

.change-eat-btn {
  font-size: .75rem;
  background-color: #2eb8b8;
  color: white;
  border-radius: 8px;
  padding: .25rem;
}

.dotted-line {
  border-bottom: 2px dotted #2eb8b8;
  padding: 0;
  margin-top: .5rem;
}

#nutrition {
  font-size: .5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.delete-btn {
  border: none;
  font-size: .75rem;
  background-color: transparent;
}






