<button class="change-eat-btn" data-id="{{id}}" data-neweat="{{eat}}">
  {{#if eat}}Eat This Burger!{{else}}Order Again{{/if}}
</button>
<button class="delete-btn" data-id="{{this.id}}">DELETE!</button>